<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IBinaryConverterService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8000/BinaryConverterService/service"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IBinaryConverterService"
                contract="ServiceReference1.IBinaryConverterService" name="WSHttpBinding_IBinaryConverterService">
                <identity>
                    <servicePrincipalName value="host/Punkor-PC" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>