<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IBinaryConverterService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:51526/BinaryConverterService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBinaryConverterService"
                contract="ServiceReference1.IBinaryConverterService" name="BasicHttpBinding_IBinaryConverterService" />
        </client>
    </system.serviceModel>
</configuration>